<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Contrato Mariachi San Nicolas</title>
</head>
<body>

    <h1>Mariachi San Nicolas</h1>
    <h2>DE LOS HNOS. HERNANDEZ</h2>
    <p>#si señor</p>
    <p>Oficina (759) 7233732 7721516602 7721451172 7721513364 7721177996</p>
    <h2>Contrato</h2>

    <p>
        Bajo este presente contrato la agrupación musical mariachi San
        Nicolás y por otra parte el señor(a) <span id="contratante_nombre"></span>
        bajo las siguientes clausulas:
    </p>

    <ol>
        <li>
            <p>Mariachi San Nicolás deberá presentarse en: <span id="evento_lugar"></span></p>
            <p>
                El día <span id="evento_dia"></span> de <span id="evento_mes"></span> del <span id="evento_ano"></span> con un total
                de: <span id="evento_horas"></span> hrs, dando principio a las <span id="evento_hora_inicio"></span> hrs y concluyendo
                a las <span id="evento_hora_fin"></span> hrs.
            </p>
        </li>
        <li>
            <p>
                El contratante se compromete a pagar la cantidad de
                $<span id="pago_total"></span> de la siguiente forma $<span id="pago_anticipo"></span> al firmar el
                presente contrato y la cantidad restante $<span id="pago_restante"></span> al
                concluir el evento.
            </p>
        </li>
        <li>
            <p>El contratante se compromete a brindar todo tipo de garantías tanto a los integrantes del mariachi San Nicolás como a su equipo de trabajo.</p>
        </li>
        <li>
            <p>En caso de no llevarse a cabo el evento organizado por causas de fuerza mayor deberá de ser cubierto el importe total que marca dicho contrato.</p>
        </li>
        <li>
            <p>Domicilio del contratante: <span id="contratante_domicilio"></span> con teléfono: <span id="contratante_telefono"></span></p>
        </li>
    </ol>

    <p>Ixmiquilpan Hgo a <span id="contrato_dia"></span> de <span id="contrato_mes"></span> del <span id="contrato_anio"></span></p>

    <br>
    <br>
    <p>___________________________________</p>
    <p>Mariachi San Nicolás</p>
    <br>
    <br>
    <p>___________________________________</p>
    <p>Contratante</p>

    <p>
        <strong>Nota:</strong> Estimado cliente no reconocemos arreglos verbales las condiciones del
        contrato se dejan estipuladas al firmar el presente
    </p>
    
    <!--  Historial de pagos a futuro-->

</body>
</html>