/* estilos de panel de control */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background: #f8f6f2;
  padding: 30px;
}

.header h1 {
  font-size: 26px;
}

.header p {
  color: #555;
  margin-bottom: 20px;
}

/* TARJETAS */
.cards-section {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.card {
  flex: 1;
  min-width: 220px;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.08);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card p {
  color: #666;
  font-size: 14px;
}

.card h2 {
  margin-top: 5px;
}

.icon-card {
  font-size: 36px;
  padding: 10px;
  border-radius: 10px;
  color: white;
}

.ingresos .icon-card {
  background: #00b050;
}

.ganancias .icon-card {
  background: #1e40af;
}

/* GRAFICA*/
.chart-section {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.08);
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .cards-section {
    flex-direction: column;
  }
}
