/*Fondo general*/
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  background: url('../../images/fondo_login.jpg') no-repeat center center / cover;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(8px);
}

/* Capa de desenfoque */
.background {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
}

/*Contenedor principal*/
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* Tarjeta de login*/
.login-card {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  padding: 40px 50px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 600px;
  height: 600px;
  max-width: 90%;
  backdrop-filter: blur(10px);
}

/* Logo y título */
.logo {
  width: 200px;
  margin-bottom: 5px;
}

h1 {
  color: #000000;
  font-size: 2rem;
  margin-bottom: 8px;
}

.subtitle {
  font-size: 0.95rem;
  color: #333;
  margin-bottom: 30px;
}

/* Campos de entrada */
label {
  display: block;
  text-align: left;
  font-weight: 600;
  margin-bottom: 6px;
  color: #555;
}

.input-group {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  padding: 5px 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
}

.icon {
  font-size: 1.3rem;
  margin-right: 8px;
  color: #0a9a44;
}

.input-group input {
  border: none;
  outline: none;
  flex: 1;
  padding: 10px;
  font-size: 1rem;
  border-radius: 8px;
}

/* Botón */
.btn {
  background-color: #e53935;
  color: white;
  border: none;
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn:hover {
  background-color: #c62828;
}

/*Footer */
footer {
  margin-top: 25px;
  font-size: 0.85rem;
  color: #444;
}

.social-icons {
  margin-left: 5px;
  vertical-align: middle;
}

.social-icons .material-symbols-outlined {
  font-size: 1rem;
  color: #0a9a44;
  margin: 0 3px;
}
